

<a mat-raised-button color="primary" routerLink="/funcionario">
  Adicionar Lançamentos
</a>


<mat-table [dataSource]="dataSource" matSort>

  <mat-header-row *matHeaderRowDef="colunas"> </mat-header-row>
  <mat-row *matRowDef="let row; columns: colunas;"> </mat-row>

  <ng-container matColumnDef="dataLancamento">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>
      Data
    </mat-header-cell>
    <mat-cell *matCellDef="let lancamento">
      {{lancamento.dataLancamento | dataLancamento}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tipoLancamento">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>
        Tipo
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        {{lancamento.tipoLancamento | tipoLancamento}}
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="localizacao">
      <mat-header-cell *matHeaderCellDef>
        Localização
      </mat-header-cell>
      <mat-cell *matCellDef="let lancamento">
        {{lancamento.localizacao}}
      </mat-cell>
  </ng-container>
</mat-table>

<mat-paginator
  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5,10,15,25]" >
</mat-paginator>


